.account {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.user-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-profile > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dropdown-trigger {
    position: relative;
    display: inline-block;
  }
  
.authentication {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
    
}
.dropdown {
    display: flex;
    justify-content: left;
    text-align: left;
    position: absolute; 
    margin: 5px;
    background-color: #fff; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 133px;
}
.signout{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    
  
}
.authentication a{
    padding: 5px;
    text-decoration: none;
    color: #000;
  

}
.signout>a {
    padding: 5px;
    text-decoration: none;
    color: #000;
    width: 120px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    height: 20px ;
}

.authentication>a:hover{
    background-color: #f0f0f0;
}

.signout>a:hover{
    background-color: #f0f0f0;
}