.add-product-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
}

.add-product-header {
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;

}

.add-product-form {
    display: flex;
    flex-direction: column;
}

.add-product-form>* {
    align-items: left;

}

.product-name-label {
    display: flex;
    align-items: left;

}

.product-name-input {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 30px;
    margin: 10px 0;
    outline-color:#eb4a5c;

}

.product-price-label {
    display: flex;
    align-items: left;

}

.product-price-input {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 30px;
    margin: 10px 0;
    outline-color:#eb4a5c;

}

.product-description-label {
    display: flex;
    align-items: left;

}

.product-description-input {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 30px;
    margin: 10px 0;
    outline-color:#eb4a5c;

}

.product-category-id-label {
    display: flex;
    align-items: left;

}

.product-category-id-input {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 30px;
    margin: 10px 0;
    outline-color:#eb4a5c;

}

.first-product-image-input {
    display: flex;
    justify-content: left;
    width: 300px;
    height: 30px;
    margin: 10px 0;
    outline-color:#eb4a5c;

}

.product-image-url-input {
    display: flex;
    flex-direction: column;

}

.image-input-remove {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.product-image-label {
    margin: 5px;
}

.image-input-remove>input {
    display: flex;
    margin: 0 5px;
}

.product-image-label {
    display: flex;
    align-items: left;

}

.product-image-input {
    display: flex;
    justify-content: left;
    width: 220px;
    height: 30px;
    margin: 10px 0;
    outline-color:#eb4a5c;

}

.add-input-field-btn {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 8px 12px;
    border:none;
    position: relative;
    background-color: white;

}

.image-input-remove>button {
    display: flex;
    justify-content: center;
    height: 28px;
    align-items: center;
    border:none;
    position: relative;
    background-color: white;
    
}

.add-product-submit-btn {
    width: 300px;
    height: 40px;
    margin: 20px 0 40px 0;
    padding: 10px 0;
    border-radius: 20px;
    position: relative;
    border:none;
}
.add-product-submit-btn::after{
    content: '';
    position: absolute;
    top:-3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background-image: linear-gradient(to top right, #8f4be5, #fb722d);
    z-index: -1;
    border-radius: 25px;
}
.add-input-field-btn::after, .image-input-remove>button::after{
    content: '';
    position: absolute;
    top:-3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background-image: linear-gradient(to top right, #8f4be5, #fb722d);
    z-index: -1;

}
.add-product-submit-btn:hover{
    z-index: 0;
    color: white;
}
.add-input-field-btn:hover, .image-input-remove>button:hover{
    z-index: 0;
    color: white;
}

.add-product-form-container {
    display: flex;
}