.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1001;
    display: flex;
    flex-direction: column;

}

/* .drawer.open {
    left: 0;
    /* Visible position 

} */

.drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.drawer-body {
    display: flex;
    flex: 1;
    overflow-y: auto;
}

.category-column {
    display: flex;
    flex-direction: column;
    width: 27%;
    overflow-y: auto;
    padding: 10px;
}

.category-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.category-item:hover {
    background-color: #f6f6f6;
}


.product-column {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 5px;
    width: 73%
}

.header-product-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

.drawer-product-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* border: 1px solid blue; */


}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 130px;
    height: 130px;
    margin: 20px;

}

.product-item:hover {
    transform: scale(1.1);
    /* Increase size by 10% */
}

.drawer-product-image {
    /* border: 1px solid red; */
    height: 130px;
    width: 130px;
}

.drawer-product-image>img {
    width: 130px;
    height: 130px;
    border-radius: 50%;

}

.product-title {
    /* border: 3px solid green; */
    width: 130px;

}

.no-products {
    display: flex;
    top: 200px;
    justify-content: center;
    /* align-items: center; */

}

.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

.drawer.open+.drawer-overlay {
    display: block;
}