
.product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.product-card-container {
    display: flex;
    margin: 20px 20px 0 20px;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    width: 240px;
    height: 300px;

}

.product-image:hover {
    transform: scale(1.1); 
}

.product-price {
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
    font-weight: bolder;

}

.product-name {
    display: flex;
    align-self: flex-start;
    margin-top:10px;
}
.all-products-quantity-increment-decrement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #d8d8d8;
    border-radius: 15px;

}

.all-products-minus-button {
    border: none;
    background-color: white;

}

.all-products-quantity {
    width: 40px;

}

.all-products-add-button {
    border: none;
    background-color: white;

}
