.navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.navbar2>a {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.navbar2 a.active {
    border: 2px solid #4b48bd;
    padding: 8px 12px;

}

.navbar2 a.inactive {
    border:2px solid white;
}