.navbar1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

   
}
.brand_logo{
    width: 50px;
   
}
.search-bar {
    display: flex;
    flex-direction: column;
    /* position: absolute;  */
}


.dropdown {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    align-items: flex-start;
    right: 420px;
    top: 7%;
    margin: 5px;
    background-color: #fff; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1000;
}
.authentication {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
    
}
.authentication > a {
    display: flex;
    justify-content: left;
    margin: 5px 0;
    text-decoration: none;
    
} 

.account-container {
    display: flex;
}