.navbar1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #11113d;
    color: white;

   
}
.brand_logo{
    width: 50px;
   
}
.search-bar {
    display: flex;
    flex-direction: column;
    /* position: absolute;  */
}


.authentication > a {
    display: flex;
    justify-content: left;
    margin: 5px 0;
    text-decoration: none;
    
} 

.account-container {
    display: flex;
}
.my-orders-navlink{
    color:white
}
.my-orders-navlink>a{
    color: white;
    text-decoration: none;
}

.my-wishlist{
    color: white;
}
.my-wishlist-navlink>a {
    color: white;
    text-decoration: none;
}