.create-account> h2{
    margin: 10px;
}
.create-account{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.create-account-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    padding: 15px;
}

.create-account-form > label {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;

}
.create-account-form > input {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    outline-color: #eb4a5c;
    
}
.create-account-form-submit-btn{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    border: none;
    background-color: white;
}
.create-account-form-submit-btn::after,
.to-login-page-btn::after{
    content: '';
    position: absolute;
    top:-3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    background-image: linear-gradient(to top right, #8f4be5, #fb722d);
    z-index: -1;
    border-radius: 25px;
}
p{
    display: flex;
   text-align:left;
    width: 320px;
    margin-left: 20px;
    font-size: small;
}
.create-account> h5{
    margin: 10px;
}
.to-login-page-btn{
    width: 120px;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    border: none;
    background-color: white;
}

.create-account-form-submit-btn:hover,
.to-login-page-btn:hover {
    z-index: 0;
    color: white;
}